<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plinks - Premium Coming Soon Template">
    <meta name="author" content="http://choco-pixel.com">
    <title>Plinks</title>
    
    <!-- Stylesheets -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="bootstrap/css/ladda-themeless.min.css" rel="stylesheet">
    <link href="bootstrap/css/animate.min.css" rel="stylesheet">
    <link href="bootstrap/css/owl.carousel.css" rel="stylesheet">
    <link href="bootstrap/css/owl.theme.css" rel="stylesheet">
    <link href="bootstrap/css/app.css" rel="stylesheet">
    <link href="bootstrap/css/steph.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="bootstrap/img/favicon/p-fav.ico" type="image/x-icon">
    <link rel="icon" href="bootstrap/img/favicon/p-fav.ico" type="image/x-icon">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status" class="text-center">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>
    
    <!-- Main -->
    <section class="main text-center" id="home">
      <div class="page">
        <div class="wrapper">
          <div class="container">
            <img src="bootstrap/img/logo/logo-white.png">
            <h4>
              Music Recommendations from the Musicians You Love
            </h4>
            <!-- Subscription form -->
            <form action="//plinks.us9.list-manage.com/subscribe/post?u=6486acf0e0cbfc25467f2fa33&amp;id=514ac95564" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline signup" target="_blank" novalidate>
              <div class="form-group">
                <input type="email" value="" name="EMAIL" class="form-control" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              </div>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_6486acf0e0cbfc25467f2fa33_514ac95564" tabindex="-1" value="">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get notified!</span></button>
              </div>
            </form>

            <footer class="text-center">
              <div class="social">
                <a href="http://www.facebook.com/plinksapp" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
                <a href="http://www.twitter.com/plinksapp" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
          <!--       <a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="btn btn-theme"><i class="fa fa-dribbble"></i></a> -->
        <!--         <a href="#" class="btn btn-theme"><i class="fa fa-linkedin"></i></a> -->
              </div>
            </footer>
          </div>
          <div class="arrow-down">
            <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section id="about" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="section-title">About</h3>
            <div class="section-title-border"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="lead">
              <strong>Curabitur molestie</strong> libero ut enim egestas 
              placerat. Sed facilisis magna sapien, id tincidunt metus 
              adipiscing sed. Aliquam viverra sagittis quam vel sagittis. 
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Mauris interdum condimentum vestibulum. Proin ullamcorper 
              lorem adipiscing elit ornare, et lobortis tortor fringilla. 
              Curabitur non volutpat justo, at posuere dolor.
              Fusce eu tellus vel tellus porttitor aliquet. Etiam ullamcorper 
              laoreet lectus ut suscipit. Quisque luctus felis sed ante elementum condimentum. 
              Praesent sagittis odio eu ante sollicitudin, vel commodo 
              odio viverra. 
            </p>
            <div class="row">
              <div class="col-sm-4 feature-box-container">
                <div class="feature-box wow fadeInDown">
                  <div class="icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="description">
                    <h4>Phasellus lobortis</h4>
                    <p>Fusce eu tellus vel tellus porttitor aliquet. 
                      Etiam ullamcorper laoreet lectus ut suscipit.
                      Felis sed ante.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 feature-box-container">
                <div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
                  <div class="icon">
                    <i class="fa fa-rocket"></i> 
                  </div>
                  <div class="description">
                    <h4>Donec rutrum vitae</h4>
                    <p>Quisque luctus felis sed ante elementum condimentum. 
                      Praesent sagittis odio eu ante sollicitudin
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 feature-box-container">
                <div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
                  <div class="icon">
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="description">
                    <h4>Nunc consectetur</h4>
                    <p>Sed ipsum nulla, eleifend ac consectetur ut, vehicula sed lacus. 
                      Quisque lectus sem, vestibulum vel nibh.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Team -->
    <section id="team" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="section-title">Our team</h3>
            <div class="section-title-border"></div>
          </div>
        </div>
      </div>
        <center>
          <div class="text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
            <div class="team-member">
              <div class="team-member-img">
                <center>
                <img src="bootstrap/img/portraits/alexa-square.png" alt="Alexa" class="img-responsive" width="100%">
                </center>
              </div>
              <div class="team-member-meta">
                <h4>Alexa Voytek</h4>
                <span class="text-muted team-member-profession">Co-Founder and CEO</span>
                <p>Alexa has worked as a media relations and public affairs consultant for international corporations and foreign governments. Alexa holds a BA in History from Duke University and an MA in Russian, Eurasian and East European Studies from Columbia University.</p>
                <div class="social">
                  <a href="http://twitter.com/avoytek" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
                  <a href="http://www.linkedin.com/pub/alexa-voytek/34/5a3/727" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center team-member-container wow fadeInDown" data-wow-delay="0.4s">
            <div class="team-member">
              <div class="team-member-img">
                <img src="bootstrap/img/portraits/steph_square.png" width="100%" alt="Stephanie" class="img-responsive">
              </div>
              <div class="team-member-meta">
                <h4>Stephanie Coleman</h4>
                <span class="team-member-profession">Co-Founder and COO</span>
                <p>
                Stephanie is a software engineer and fiddle player. She teaches web development to kids at Flatiron School, and previously worked as a producer for NPR and other national public radio outlets. She earned a BA in History and a Certificate in Documentary Studies at Duke University.
                </p>
                <div class="social">
                  <a href="http://twitter.com/stephiecoleman" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
                  <a href="http://www.linkedin.com/pub/stephanie-coleman/79/3ab/227" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
            <div class="team-member">
              <div class="team-member-img">
                <center>
                <img src="bootstrap/img/portraits/cass-square.png" alt="Alexa" class="img-responsive" width="100%">
                </center>
              </div>
              <div class="team-member-meta">
                <h4>Cassandra Jenkins</h4>
                <span class="text-muted team-member-profession">Designer</span>
                <p>Cassandra is a musician and graphic designer. She released her solo debut record in 2013, and leads her own band, as well as accompanies others as a touring bassist. She previously worked on the editorial staff of the New Yorker Magazine, and graduated from Rhode Island School of Design with a BFA in Graphic Design.<p>
                <div class="social">
                  <a href="http://twitter.com/cassfreshusa" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
                  <a href="http://www.linkedin.com/pub/cassandra-jenkins/55/492/450" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

      </center>
    </section>
    
    <!-- Contact -->
    <section id="contact" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="section-title">Contact</h3>
            <div class="section-title-border"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>
              <strong>Drop us a line!</strong> While we're cooking up the beta version, feel free to get in touch.
            </p>
            <ul class="list-contacts">
              <li><i class="fa fa-phone"></i> (239) 826-8210</li>
              <li><i class="fa fa-map-marker"></i>Nashville, TN 37212</li>
              <li><i class="fa fa-envelope-o"></i> <a href="mailto:plinksapp@gmail.com">plinksapp@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <form class="form-horizontal" action="http://forms.brace.io/plinksapp@gmail.com" method="post" role="form" id="contactForm">
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="text" name="name" class="form-control" placeholder="Name"> 
                </div>
                <div class="col-sm-6">
                  <input type="text" name="contactEmail" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
                    <span class="ladda-label">Submit</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bootstrap/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery.backstretch.min.js"></script>
   <!--  <script src="bootstrap/js/jquery.countdown.min.js"></script> -->
    <script src="bootstrap/js/jquery.tubular.1.0.js"></script>
    <script src="bootstrap/js/bootstrapValidator.min.js"></script>
    <script src="bootstrap/js/validator/emailAddress.js"></script>
    <script src="bootstrap/js/spin.min.js"></script>
    <script src="bootstrap/js/ladda.min.js"></script>
    <script src="bootstrap/js/retina.min.js"></script>
    <script src="bootstrap/js/wow.min.js"></script>
    <script src="bootstrap/js/owl.carousel.min.js"></script>
    <script src="bootstrap/js/init.js"></script>
  </body>
</html>